#container {
  padding-top: 100px;
  font-size: 20px;
  position: absolute;
  width: 1000px;
  left: 75px;
  margin-top: 75px;
  background-color: white;
  color: #889AA8;
  padding-bottom: 200px;
}

li a:hover {
  text-decoration: none;
}

#description {
  float:left;
  width: 450px;
}

#student #description {
}

#button {
  margin-left: 100px;
  width: 200px;
}

.uldecor {
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
  border: none;
}

.firstItem {
  float: left;
  width: 60px;
  height: 60px;
  padding: 0;
  margin-right: -100px;
}

.firstItem img {
  border-radius: 10px;
  border: 1px solid #889AA8;
}

.uldecor > li {
  width: 200px;
  font-size: 16px;
  display: inline-block;
  border: none;
}

.uldecor > li > span {
  color: #008FE2;
}

.btn:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
  }
  /* Icon when the collapsible content is hidden */
  .btn.collapsed:after {
    content: "\e080";
  }

.drop {
  font-size: 20px;
  text-align: left;
  float: right;
}

.display_collapse {
  float: left;
  width: 1000px;
  text-align: left;

}

#subcontain {
  margin: 0 auto;
    width: 700px;
    margin-top: 100px;
}

#Accounts {
  margin-top: 50px;
}


#badge {
  position: absolute;
  text-align: center;
  width: 20px;
  top: 9px;
  border-radius: 50% 50%;
  background-color: red;
  color: white;
}
